/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --header-height: 3rem;
  /*========== COLORS ==========*/
  --first-color: hsl(220, 100%, 65%);
  --first-color-second: hsl(220, 69%, 61%);
  --first-color-alt: hsl(220, 57%, 53%);
  --first-color-lighter: hsl(220, 69%, 61%);
  --first-color-lighter-dark: #292523;
  --article-title: #363978;
  --home-title-color: #45423c;
  --title-color: #292523;
  --text-color: #7c706a;
  --text-color-light: #ada39f;
  --body-color: #fefcfb;
  --white-color: white;
  --black-color: black;

  --grey-color: grey;
  --border-left-grey: 0.1em solid grey;

  /*========== FONT & TYPORGRAPHY ==========*/
  --body-font: "Source Sans 3", sans-serif;
  --second-font: "Source Sans 3", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --biggest-font-size: 4rem;
  --bigger-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --default-font-size: 1em;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --h1-font-size-em: 1.5em;
  --h2-font-size-em: 1.25em;
  --h3-font-size-em: 1.125em;
  --marker-font-size: 1.38em;
  --summary-marker-font-size: 0.8em;

  /*========== FONT WEIGHT ==========*/
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;
  /*========== MARGINS ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --ml-0-7: 0.7em;

  --ml-0-5-em: 0.5em;
  --mr-0-5-em: 0.5em;
  --ml-1-em: 1em;
  --ml-1-2-em: 1.2em;
  --pl-1-em: 1em;
  --p-1-5-em: 1.5em;

  --rg-2-5: 2.5em;

  --m-0-5: 0 5em;
  --mr-0-2-5: 2.5em;
  --m-5: 5em;
  --m-7: 7em;
  --m-3: 3em;
  --m-2: 2em;
  --m-0-0-25: 0.25em 0;
  --m-5-2-5: 5em 2.5em;
  /*========== Z INDEX ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --border-radius: 7.5em;

  --width-1-25: 1.25em;
}
/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.75em;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  color: var(--black-color);
  font-family: var(--body-font);
}

@media print {
  body {
    width: 21cm;
    height: 50cm;
    margin: 12mm 16mm 0mm 0mm;
  }

  .left-section--container {
    border: none !important;
  }
  .basics {
    grid-template-columns: 1fr 1fr !important;
    gap: 5em !important;
    align-items: flex-start !important;
    padding-top: 0;
  }
  .main-div {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
  .left-container__sub-header__subtitle::after {
    content: none !important;
    margin-left: 0 !important;
  }
  .picture {
    justify-content: left !important;
    text-align: left !important;
    position: relative;
  }
  .basics-article--container {
    margin-right: var(--m-7);
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .right-section--container {
    gap: 0 !important;
    margin-right: var(--m-2);
  }
  .publications,
  .volunteer,
  .certifications,
  .skills,
  .awards,
  .profiles {
    border-left: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .article-container--border {
    border: none !important;
    padding: 0 !important;
  }
  .footer, .footer-space {
    height: 2.5em;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-45%);
    overflow: visible !important;
  }
  .contact--details--print{
    display: flex !important;
  }
  .article__url--print, .article__mail--print, .article__phone--print {
    width: 13em !important;
  }
  .article__url--print {
    margin: 0 1em !important;
  }
}

@media screen {
  body {
    line-height: var(--layout-default-line-height);
    margin: 3em 0;
    margin-bottom: 5em;
  }
}

::-moz-selection {
  background: #5e5e5e;
  color: white;
}
::selection {
  background: #5e5e5e;
  color: white;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-600);
}
h4 {
  font-weight: var(--font-600);
  font-size: var(--h1-font-size);
  color: var(--text-color-light);
  margin: var(--mb-1-5) 0 0;
}
ul {
  padding: 0;
}
li {
  margin-left: 2rem;
  list-style: circle;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*========== CLASS CSS ==========*/
section {
  padding: 2rem 0 4rem;
}
.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  color: var(--article-title);
  font-weight: var(--font-700);
  text-transform: uppercase;

}
article {
  position: relative;
}
.article__title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: var(--font-600);
  font-size: var(--h2-font-size);
}
.article__subtitle {
  font-weight: var(--font-700);
  font-size: var(--h3-font-size);
  font-family: var(--second-font);
  color: var(--home-title-color);
}
.article__url {
  color: #7f7d7b;
}
.article__description {
  margin-top: var(--mb-1);
}
/*========== LAYOUT ==========*/
.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--mb-3);
}
.s-grid {
  display: -ms-grid;
  display: grid;
}
.a-grid {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: var(--first-color-lighter-dark);
  gap: var(--mb-1);
}
.container {
  /* max-width: 968px; */
  max-width: 1024px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.main {
  padding: var(--mb-1);
}
.wrapper {
  margin: var(--mb-1-5) 0;
}
.hide {
  display: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
/*========== HOME SECTION ==========*/
.home__title {
  font-size: var(--big-font-size);
  font-weight: var(--font-800);
  line-height: 1.2;
  margin-top: var(--mb-1);
}
.home__subtitle {
  font-weight: 600;
  font-size: var(--h3-font-size);
  line-height: 1;
  margin-top: var(--mb-0-5);
}
.home__description {
  margin-top: var(--mb-1);
}

/*========== PROFILES ==========*/
.profiles .article-container {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
}

.profiles .icon {
  font-size: 1.5em;
  color: var(--icon-social-color);
  padding:0 0.25em;
}

img {
  transform: scale(1.15);
}

a {
  color: #797979;
}

/*========== ICONS ==========*/

.icon {
  font-style: normal;
  margin-right: 0;
  width: 0.6em;
  color: var(--icon-color);
}

.icon.twitter:before {
  content: "\f099";
}

.icon.github:before {
  content: "\f09b";
}

.icon.facebook:before {
  content: "\f39e";
}

.icon.instagram:before {
  content: "\f16d";
}

.icon.xing:before {
  content: "\f168";
}

.icon.behance:before {
  content: "\f39e";
}

.icon.dribbble:before {
  content: "\f17d";
}

.icon.medium:before {
  content: "\f23a";
}

.icon.linkedin:before {
  content: "\f08c";
}
/* TOGGLE VISIBILITY */
.basics header {
  display: none;
}

/* INTERACTIVE VIEW */
.INTERACTIVE .nav-add {
  margin-top: 1em;
  margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
  padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
  display: flex;
  flex-direction: column;
}

html:not(.INTERACTIVE) .profiles .article-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.2em;
  width: 25em;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
  display: inline-block;
}

.article-container--border {
  border-left: var(--border-left-grey);
  padding-left: var(--p-1-5-em);
}

/* .left-container__title--marker {
  display: list-item;
  list-style-type: disc;
  margin-left: var(--ml-1-em);
} */

.left-container__title--marker::marker {
  color: var(--grey-color);
  text-align: center;
  font-size: var(--marker-font-size);
}

.left-container__sub-header {
  display: flex;
  align-items: center;
}

.left-container__sub-header__subtitle {
  margin-right: var(--mr-0-5-em);
}

.left-container__sub-header__date {
  margin-left: var(--ml-0-5-em);
}

.left-container__summary {
  display: list-item;
  padding-left: var(--pl-1-em);
  margin-left: var(--ml-1-2-em);
}

.left-container__summary::marker {
  font-size: var(--summary-marker-font-size);
}

/* Layout */

.main-div {
  display: grid;
  grid-template-columns: 2fr 1fr !important;
}

.right-section--container {
  display: grid;
  row-gap: var(--rg-2-5);
}

.left-section--container {
  display: grid;
  row-gap: 0;
  margin: var(--m-0-5);
}

.basics {
  display: grid;
  grid-template-columns: 0.35fr 0.75fr;
  margin-right: var(--mr-0-5-em) !important;
  margin-left: 0 !important;
}

.basics-article--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
 margin-right: 5em;
}

.references__text {
  font-size: var(--default-font-size);
  color: var(--black-color) !important;
  text-transform: capitalize !important;
}

.picture {
  width: 100%;
  margin-left: var(--m-5);
  display: flex;
  align-items: center;
}
img {
  border-radius: var(--border-radius);
}

.icon {
  width: var(--width-1-25);
}

.section__title {
  color: var(--black-color);
}

.article__title {
  font-weight: var(--font-400);
  text-transform: uppercase;
}

.left-container__sub-header__subtitle::after {
  content: "|";
  margin-left: var(--ml-0-7);
}

.article__subtitle,
.article__date {
  font-weight: var(--font-300);
  color: var(--grey-color);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.endDate {
  margin-left: var(--mb-0-25);
}

.basics-article--container {
  row-gap: 0.5em;
}

.basics__article__title {
  font-size: var(--bigger-font-size);
  text-transform: uppercase;
  line-height: 0;
}
.basics__article__title > span {
  line-height: var(--ml-1-2-em);
}

.basics__article__subtitle {
  font-size: var(--h1-font-size-em);
  font-weight: var(--font-600);
  text-transform: uppercase;
  color: var(--grey-color);
  letter-spacing: 0.1em;
}

.project,
.work,
.education,
.references {
  padding: 0;
}

.publications,
.volunteer,
.certifications,
.skills,
.awards,
.profiles {
  border-left: var(--border-left-grey);
  padding: 0 var(--p-1-5-em);
}

@media screen and (max-width: 1124px) and (min-height: 640px) {
  .basics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
  .picture {
    text-align: center;
    margin-left: 0;
    width: auto;
  }
  .basics-article--container {
    text-align: center;
    margin: 0;
    width: auto;
    margin: var(--mb-2-5);
  }
  .main-div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .left-section--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--m-5);
    margin:var(--mb-2-5) !important;
    margin-right: var(--mr-0-2-5);
  }
  .right-section--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--m-5);
    margin: var(--m-5-2-5);
  }
  .article-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-container__sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*Styles*/

  .article__title {
    list-style: none;
    margin: 0;
  }
  .section__title {
    text-align: center;
  }
  .article__text {
    text-align: center;
    height: auto;
  }
  .article__list {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    width: fit-content;
    list-style-position: inside;
    margin: 0;
  }
  .article-container--border {
    border: none;
    padding: 0;
  }
  .left-container__summary {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
  .publications,
  .volunteer,
  .certifications,
  .skills,
  .awards,
  .profiles {
    border-left: none;
    padding: 0;
  }
  .endDate {
    margin-left: 0;
  }
  .left-container__sub-header__subtitle::after {
    content: none;
    margin-left: 0;
  }
  body {
      overflow-x: hidden;
  }
  .profiles .article-container {
      width: auto !important;
      justify-content: center !important;
  }
}

@media screen and (max-width:1024px) {
  .basics-article--container {
    grid-template-columns: 1fr;
  }
  .basics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
  .picture {
    text-align: center;
    margin-left: 0;
    width: auto;
  }
  .basics-article--container {
    text-align: center;
    margin: 0;
    width: auto;
    margin: var(--mb-2-5);
  }
  .main-div {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .left-section--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--m-5);
    margin: var(--mb-2-5) !important;
  }
  .right-section--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: var(--m-5);
    margin: var(--m-5-2-5);
  }
  .article-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-container__sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*Styles*/
  .article__title {
    list-style: none;
    margin: 0;
  }
  .section__title {
    text-align: center;
  }
  .article__text {
    text-align: center;
    height: auto;
  }
  .article__list {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    width: fit-content;
    list-style-position: inside;
    margin: 0;
  }
  .article-container--border {
    border: none;
    padding: 0;
  }
  .left-container__summary {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
  .publications,
  .volunteer,
  .certifications,
  .skills,
  .awards,
  .profiles {
    border-left: none;
    padding: 0;
  }
  .endDate {
    margin-left: 0;
  }
  .left-container__sub-header__subtitle::after {
    content: none;
    margin-left: 0;
  }
  body {
      overflow-x: hidden;
  }
  .profiles .article-container {
      width: auto !important;
      justify-content: center !important;
  }
}

@media screen and (max-width:500px) {
  .icon {
    padding: 0 0.1em !important;
  }
}

.contact--details--print {
  display: none;
}

.basics__article__text {
  margin: 0.75em 0;
}
